
<div class="row">
  
  <hr>
  <div class="centered-pills">
    <ul class="nav nav-pills">
      
      <li role="presentation" class="active"><a href="#">Inbox</a></li>
      <li role="presentation" class=""><a href="#">Sent</a></li>
      
      
    </ul>
  </div>
  <hr>
  
</div>

<div class="row">
  <ul class="pagination pull-right">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Previous</span>
      </a>
    </li>
  </ul>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
  	<div class="col-xs-12 col-sm-6 col-md-4"><div class="card card-1"></div></div>
</div>


<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  <div class="box col3">
    ...
  </div>

  <div class="box col1">
    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
  </div>

  <div class="box col2">
    <p>
      <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
    </p>
  </div>
  ...
</div>
